<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Случайное число</title>
</head>
<body>
<h1>Минимальное значение: <span th:text="${min}">min</span></h1>
<h1>Максимальное значение: <span th:text="${max}">max</span></h1>
<h1>Случайное число из диапазона: <span th:text="${number}">number</span></h1>
<h1>Минимальное значение def: <span th:text="${minp}">minp</span></h1>
<h1>Максимальное значение def: <span th:text="${maxp}">maxp</span></h1>
</body>
</html>